<h2>your flattr info</h2>

<div>
  <%= debug @user_info %>
  username: <%= h(@user_info.username) %>
  <p><%= h(@user_info.description)%></p>
</div>

<div>
  <% @things.each do |t| %>
    <%= render :partial => 'thing', :locals => {:thing => t} %>
  <% end %>
</div>


<%= link_to 'submit thing', '/flattr/new_thing' %>

<form method="GET" action="/flattr/things" >
  <fieldset>
    <legend>Search for things</legend>
    <input type="text" name="q" value="" placeholder="search query"/>
    <input type="submit" value="Search!"/>
  </fieldset>
</form>
